%nav.navbar.navbar-default{role:"navigation"}
  %div.container
    %div.navbar-header
      %button.navbar-toggle.collapsed{'data-toggle'=>"collapse", 'data-target'=>"#bs-example-navbar-collapse-1", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Movie Reviews", root_path, class: "navbar-brand"

    %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li= link_to 'New Movie', new_movie_path, class: 'active'
          %li= link_to 'Account', edit_user_registration_path
        - else
          %li= link_to 'Sign Up', new_user_registration_path, class: 'active'
          %li= link_to 'Sign In', new_user_session_path, class: 'active'

      %form.navbar-form.navbar-right{role:'search'}
        %div.form-group
          %input.form-control{placeholder:'Search', type:'text'}
        %button.btn.btn-default{type:'submit'} Submit